
circle {
    transition: all 1s ease-in-out;
    transform: rotate(93deg);
    transform-origin: 50% 50%;
    filter: drop-shadow(0 0 10px rgba(0, 123, 255, 0.5));
}

image.active {
    animation: rotation 30s infinite linear;
    transform-origin: 50% 50%;
}

.progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
